<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>
  <body>
  <!--====================================================================================================================-->
    <div class="TopHeader">
      <img src="static/img/Logo.svg" alt="logo" width="200px">
    </div>
    <div class="BottomHeader">

      </div>
<!--====================================================================================================================-->
    <div class="Content">
      <div class="ContentMainDescription">
        <div class="ContentMainDescriptionMainText">
        <span>Invest Center</span>
        <b>Ваш персональный помощник в инвестировании</b>
        </div>

      </div>
<!--------------------------------------------------------------------------------------------->
    <div class="ContentDescription">
      <span class="ContentDescriptionMainText">О нас</span>
      <div class="ContentDescriptionTextAndimg">
        <div class="ContentDescriptiontextAndImgtext">
          Мы предлагаем инвесторам опробовать торговые стратегии за два клика!!! <br>
          И вообще вы этот текст читать не будете, так что вот вам анекдот: <br>
          Заходит как то русский в еврейский бар.<br>
          Евреи ему: о русский пришел.<br>
          Русский спрашивает: а откуда вы знаете что я русский?<br>
          Евреи ему: так в начале анекдота написано.
        </div>

          <img class="ContentDescriptionTextAndImg" src="static/img/stonks_img.jpg">

      </div>
    </div>
<!--------------------------------------------------------------------------------------------->
  <div class="ContentBlocks">

    <div class="ContentBlocksInfo">
      <p id="ContentBlocksInfoClose">X</p>
      <p style="padding-right:10px; font-size:20px;  text-align:center;"> Информация о стратегии<br> <b>Базовая стратегия</b> </p>
      <p class="ContentBlocksInfoText"> Это базовая стратегия с чётко заданными условиями:<br>
        Если цена закрытия за день снижалась хотя бы два дня подряд, а потом
        сменилась днем роста, то еще на следующий день покупаем 1 после покупки: <br>
        Если акция (цена закрытия за день) растет три и более дней
        подряд и потом рост сменяется дневным снижением более чем на 2%, то еще на
        следующий день продаем 1 акцию
        закрываем позицию в любом случае на следующий день <br>
        Если по итогам
        предыдущего дня отрицательное отклонение цены закрытия от цены покупки
        превысило 1l%k<br>
        Если при любом раскладе позиция остается открытой более чем 12 торговых
        дней подряд, то на следующий день она закрывается;
      </p>
          <div style="display:flex;align-items: center;justify-content: center;"><button class="ContentBlocksInfoButton">Продолжить--></button></div>
    </div>

    <div class="ContentBlocksBlock">
      <img src="static/img/base.png">
      <span>Базовая стратегия</span>
    </div>
    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img class="ContentBlocksBlockImg" src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
<!--------------------------------------------------------------------------------------------->
    </div>
    </div>
<!--====================================================================================================================-->

<!--====================================================================================================================-->
    <div class="Footer">
      4
    </div>
  </body>
  <script src="static/scripts/index.js"></script>
</html>
