<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>
  <body>
  <!--====================================================================================================================-->
    <div class="TopHeader">
      <img src="static/img/Logo.svg" alt="logo" width="200px">
    </div>
    <div class="BottomHeader">

      </div>
<!--====================================================================================================================-->
    <div class="Content">
      <div class="ContentMainDescription">
        <div class="ContentMainDescriptionMainText">
        <span>Invest Center</span>
        <b>Ваш персональный помощник в инвестировании</b>
        </div>

      </div>
<!--------------------------------------------------------------------------------------------->
    <div class="ContentDescription">
      <span class="ContentDescriptionMainText">О нас</span>
      <div class="ContentDescriptionTextAndimg">
        <div class="ContentDescriptiontextAndImgtext">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi nunc, fringilla at urna quis, dictum gravida enim.
           Morbi et dolor in felis venenatis fermentum. Sed porttitor tortor at semper semper. Etiam volutpat lacus vitae blandit tempus.
            Maecenas convallis finibus libero quis porta. Vestibulum ipsum mi, luctus eu consequat a, pulvinar non lacus. Pellentesque
             habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum a enim risus. Orci varius
              natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>

          <img class="ContentDescriptionTextAndimgImg" src="static/img/no_photo.png">

      </div>
    </div>
<!--------------------------------------------------------------------------------------------->
  <div class="ContentBlocks">

    <div class="ContentBlocksInfo">
      <p id="ContentBlocksInfoClose">X</p>
      <p style="padding-right:10px; font-size:20px;  text-align:center;"> Информация о стратегии<br> <b>*Название стратегии*</b> </p>
      <p class="ContentBlocksInfoText"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi nunc, fringilla at urna quis, dictum gravida enim.
       Morbi et dolor in felis venenatis fermentum. Sed porttitor tortor at semper semper. Etiam volutpat lacus vitae blandit tempus.
        Maecenas convallis finibus libero quis porta. Vestibulum ipsum mi, luctus eu consequat a, pulvinar non lacus. Pellentesque
         habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum a enim risus. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <div style="display:flex;align-items: center;justify-content: center;"><button class="ContentBlocksInfoButton">Продолжить--></button></div>
    </div>

    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
    <div class="ContentBlocksBlock">
      <img class="ContentBlocksBlockImg" src="static/img/no_photo.png">
      <span>Название стратегии</span>
    </div>
<!--------------------------------------------------------------------------------------------->
    </div>
    </div>
<!--====================================================================================================================-->

<!--====================================================================================================================-->
    <div class="Footer">
      4
    </div>
  </body>
  <script src="static/scripts/index.js"></script>
</html>
