<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/redir.css">
  </head>
  <body>
<!--====================================================================================================================-->
    <div class="Header">
      <a>Invest</a>
      <a>Center</a>
    </div>
<!--====================================================================================================================-->
  <div class="Content">
    <div class="ContentTool">
      <p>Инструмент: AAPL</p>
    </div>
    <div class="ContentUnits">
      <p>1000 едениц;</p>
      <p>Вы выиграли -100 USD;</p>
    </div>
    <div class="ContentValue">
      <p>Итоговая величина портфеля: 1000 AAPL;</p>
    </div>
    <div class="ContentIncurrency">
      <p>В валюте - 10000 USD</p>
    </div>
    <div class="ContentСhart">
    <div class="ContentСhart_graf">
      <img src="static/img/no_photo.png" alt="" width="600px" height="480px">
    </div>
    <div class="ContentСhart_graf">
      <img src="static/img/no_photo.png" alt="" width="600px" height="480px">
    </div>
    </div>

  </div>
<!--====================================================================================================================-->
    <div class="Footer">

    </div>
<!--====================================================================================================================-->
  </body>

</html>
