<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/redir.css">
  </head>
  <body>
<!--====================================================================================================================-->
    <div class="Header">
      <a>Invest</a>
      <a>Center</a>
    </div>
<!--====================================================================================================================-->
  <div class="Content">
    <div class="ContentTool">
      <p>Инструмент: {{ticket}}</p>
    </div>
    <div class="ContentUnits">
      <p>{{value}} единиц</p>
      <p>Профит: {{profit}} USD</p>
    </div>
    <div class="ContentValue">
      <p>Итоговая величина портфеля: {{total_brief_sum}} {{ticket}};</p>
    </div>
    <div class="ContentIncurrency">
      <p>В валюте - {{total_currency_sum}} USD</p>
    </div>
    <div class="ContentСhart">
    <div class="ContentСhartGraf">
      <img src="{{alg_plot_path}}" alt="" width="600px" height="480px">
    </div>
    <div class="ContentСhartGraf">
      <img src="{{brief_plot_path}}" alt="" width="600px" height="480px">
    </div>
    </div>

  </div>
<!--====================================================================================================================-->
    <div class="Footer">

    </div>
<!--====================================================================================================================-->
  </body>

</html>
