<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/redir.css">
  </head>
  <body>
<!--====================================================================================================================-->
    <div class="Header">
      <a>Invest</a>
      <a>Center</a>
    </div>
<!--====================================================================================================================-->
  <div class="Content">
    <div class="ContentTool">
      <p>% TICKER %}</p>
    </div>
    <div class="ContentUnits">
      <p>% AMOUNT %}</p>
      <p>% TOTAL %}</p>
    </div>
    <div class="ContentValue">
      <p>Итоговая величина портфеля: % TOTAL AMOUNT TICKER %} % TICKER %}</p>
    </div>
    <div class="ContentIncurrency">
      <p>В валюте - % TOTAL AMOUNT CURRENCY %} USD</p>
    </div>
    <div class="ContentСhart">
    <div class="ContentСhart_graf">
      <img src="{{stock_img_path}}" alt="static/img/no_photo.png" width="600px" height="480px">
    </div>
    <div class="ContentСhart_graf">
      <img src="{{brief_img_path}}" alt="static/img/no_photo.png" width="600px" height="480px">
    </div>
    </div>

  </div>
<!--====================================================================================================================-->
    <div class="Footer">

    </div>
<!--====================================================================================================================-->
  </body>

</html>
